.vs
bin
obj
bin/Debug
obj/Debug
PublishProfiles
appsettings.Development.json
*.user

node_modules
build
.env
Src/Application/obj
Src/Common/obj/
obj/*
Src/*/obj/
Src/WebApi/obj/*
Src/WebApi/obj/Debug/netcoreapp3.1/Api.csprojAssemblyReference.cache
Src/Application/obj/Application.csproj.nuget.dgspec.json
Src/Application/obj/project.nuget.cache
Src/Application/obj/project.assets.json
Src/Application/obj/Application.csproj.nuget.dgspec.json
Src/Application/obj/project.assets.json
Src/Application/obj/project.nuget.cache
Src/Application/obj/Debug/netstandard2.1/Application.csprojAssemblyReference.cache
Src/Common/obj/Common.csproj.nuget.dgspec.json
Src/Common/obj/project.nuget.cache
Src/Domain/obj/Domain.csproj.nuget.dgspec.json
Src/Domain/obj/project.nuget.cache
Src/Infra/obj/Infrastructure.csproj.nuget.dgspec.json
Src/Infra/obj/project.assets.json
Src/Infra/obj/project.nuget.cache
Src/Infra/obj/Debug/netstandard2.1/Infrastructure.csprojAssemblyReference.cache
Src/Persistence/obj/Persistence.csproj.nuget.dgspec.json
Src/Persistence/obj/project.assets.json
Src/Persistence/obj/project.nuget.cache
Src/Persistence/obj/Debug/netstandard2.1/Persistence.csprojAssemblyReference.cache
Src/WebApi/obj/Api.csproj.nuget.dgspec.json
Src/WebApi/obj/project.assets.json
Src/WebApi/obj/project.nuget.cache
Src/WebApi/obj/Debug/netcoreapp3.1/Api.csprojAssemblyReference.cache
Tests/Api.IntegrationTests/obj/Api.IntegrationTests.csproj.nuget.dgspec.json
Tests/Api.IntegrationTests/obj/project.assets.json
Tests/Api.IntegrationTests/obj/project.nuget.cache
Tests/Api.IntegrationTests/obj/Debug/netcoreapp3.1/Api.IntegrationTests.csprojAssemblyReference.cache
Tests/Application.UnitTests/obj/Application.UnitTests.csproj.nuget.dgspec.json
Tests/Application.UnitTests/obj/project.assets.json
Tests/Application.UnitTests/obj/project.nuget.cache
Tests/Application.UnitTests/obj/Debug/netcoreapp3.1/Application.UnitTests.csprojAssemblyReference.cache
Tests/Persistence.IntegrationTests/obj/Persistence.IntegrationTests.csproj.nuget.dgspec.json
Tests/Persistence.IntegrationTests/obj/project.assets.json
Tests/Persistence.IntegrationTests/obj/project.nuget.cache
Tests/Persistence.IntegrationTests/obj/Debug/netcoreapp3.1/Persistence.IntegrationTests.csprojAssemblyReference.cache
Src/Application/obj/Debug/netstandard2.1/Application.csprojAssemblyReference.cache
Src/Persistence/obj/Debug/netstandard2.1/Persistence.csprojAssemblyReference.cache
Tests/Api.IntegrationTests/obj/Debug/netcoreapp3.1/Api.IntegrationTests.csprojAssemblyReference.cache
Tests/Application.UnitTests/obj/Debug/netcoreapp3.1/Application.UnitTests.csprojAssemblyReference.cache
Tests/Persistence.IntegrationTests/obj/Debug/netcoreapp3.1/Persistence.IntegrationTests.csprojAssemblyReference.cache
